@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}
header h1{
    padding: 20px;
    font-size: 25px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    color: antiquewhite;
    background-color: black;
    height: 60px;
    padding-left: 49%;
    padding-top: 20px;
}

footer a{
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover{
    font-weight: 700;
}
.content{
    display: flex;
    position: absolute;
    top: 100px
}

.content h1{
    font-size: 35px;
}

.container{
    margin-top: 50px;
    padding: 30px 40px;
    width: 45%;
    height: 65%;
    overflow: auto;

}

.new-task-container{
    background-color: fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;
}

.new-task-container input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
}

.new-task-container input:focus {
    outline: none;
    border-color: black;
}

.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: antiquewhite;
    cursor: pointer;
    margin-left: 12px;
    padding: 12px;

}

.tasks-container{
    background-color: fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 6px;
    word-break: break-all;
}

.task-item i{
    background-color: black;
    color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
}
.task-item i:hover{
    cursor: pointer;
}
/* Utilities */
.error {
    border: 2px solid red !important;
}
.error::placeholder {
    color: red;
}

.completed{
    text-decoration: line-through;
}
