@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}
body{
    width: 100%;
}
header h1{
    font-size: 40px;
    padding: 10px;
}

header{
    background-color: black;
    color: white;
}

button{
    color: white;
    background-color: black;
    font-weight: 600;
    border-radius: 8px;
    width: 120px;
    height: 35px;
}

.textcamp{
    width: 300px;
    height: 30px;
    border: solid black;
}

.site-content{
    width: 100%;
    height: 90vh;
    display: flexbox;
    flex-direction: column;
    background-color: blueviolet;
}

.image{
    display: flex;
    justify-content: center;
}

.principal-image{
    width: 550px;
}

.text-field{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
}

.functions{
    display: flex;
    justify-content: center;
    padding: 30px;
}

button{
    margin-left: 15px;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer{
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 50%;
}